/* Reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Arial";
  color: #222;
}

body {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/bgpc.svg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* animation: crossFade 1s forwards; */
  animation-delay: 1s;
}

@media (max-width: 768px) {
  body {
    min-height: 100vh;
    background-image: url(../img/bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.col-login {
  width: 500px;
  padding: 10px 90px;
  font-size: 14pt;
  max-width: 100%;
  opacity: 0;
  animation: crossFade 1s forwards;
  animation-delay: 1s;
}


.col-login h1 {
  color: #3955a4;
}

.col-login h1 small {
  display: block;
  font-size: 12pt;
  font-weight: 600;
  margin-top: 5px;
  color: #666;
}

.col-login hr {
  border: 0px;
  border-top: 4px solid #3955a4;
  width: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-group {
  padding: 10px 0px;
  font-size: 10.5pt;
  color: #444;
  font-weight: 600;
  opacity: 0;
  animation: crossFade 1s forwards;
  animation-delay: 1.5s;
}

.form-group label {
  color: #555;
}

.form-control {
  display: block;
  width: 100%;
  padding: 12px 15px;
  border: none;
  border: 1px solid #eee;
  transition: .5s;
  margin-top: 10px;
  border-radius: 2px;
}

.form-control:focus {
  border-color: #3955a4;
}

.btn-primary {
  margin-top: 8px;
  border: 1px solid #3955a4;
  background-color: #3955a4;
  width: 100%;
  font-size: 10pt;
  font-weight: bold;
  padding: 10px 13px;
  text-align: center;
  border-radius: 3px;
  color: white;
  transition: .15s;
}

.btn-primary i {
  color: white;
}

.btn-primary:hover {
  border: 1px solid #4263bd;
  background-color: #4263bd;
}

.btn-primary:active {
  border: 1px solid #344e94;
  background-color: #344e94;
}

.line {
  text-align: center;
}

.line hr {
  border-top: 1px solid #ddd;
  display: inline-block;
  width: 44%;
}

.line span {
  display: inline-block;
  padding: 10px;
  color: #888;
  font-weight: normal;
  font-size: 10pt;
  transform: translateY(-20px);
}

.btn-circle {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 0px 5px;
  transition: .15s;
  line-height: 50px;
  position: relative;
  z-index: 99;
  border: 2px solid #888;
}

.btn-circle:hover {
  border-color: #3955a4;
}

.btn-circle i.fa {
  font-size: 1.6em;
  display: inline-block;
  color: #888;
  cursor: pointer;
}

.btn-group {
  text-align: left;
  margin-top: 5px;
}

.btn-circle.active {
  border-color: #3955a4;
}

.btn-circle.active i {
  color: #3955a4;
}

.btn-circle.active span {
  color: white;
}

button,
button * {
  cursor: pointer;
}

.logo-container {
  margin-bottom: 14px;
  text-align: left;
}

.logo-container img {
  width: 64px;
  max-width: 100%;
  margin-right: 20px;
}

@media (max-width: 800px) {
  .col-illustration {
    display: none;
  }

  .col-login {
    width: 310px;
    padding: 10px 10px;
    margin: 1.3% auto;
    float: none;
  }
}

.col-6 {
  width: 60%;
  float: left;
  padding-right: 10px;
}

.col-6:last-child {
  text-align: right;
  width: 40%;
  padding-right: 0px;
}

p {
  font-weight: lighter;
  display: block;
  text-align: justify;
  color: #444;
  padding: 1px 0px;
}

.col-6:last-child .btn-circle {
  margin-right: 0px;
}

@keyframes crossFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
